
/*
How to use that on the bottom
*/

$foreColor: #fcf2f8;// #1d1d1d;
$bounce: -5px;

@-moz-keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY($bounce);
    transform: translateY($bounce);
  }
  
}
@-webkit-keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY($bounce);
    transform: translateY($bounce);
  }
 
}
@keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY($bounce);
    -ms-transform: translateY($bounce);
    -webkit-transform: translateY($bounce);
    transform: translateY($bounce);
  }
  
}


.bounce {
  left:50%;
  top: 89vh;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  color: $foreColor;
}

.bounce:hover {
  -moz-animation: bounceAnimation .8s ;
  -webkit-animation: bounceAnimation .8s ;
  -ms-animation: bounceAnimation .8s ;
  -o-animation: bounceAnimation .8s ;
  animation: bounceAnimation .8s ;
}


/*
https://codepen.io/dodozhang21/pen/siKtp
 <div class="bounce">
    <i class="fa fa-caret-down fa-4x" aria-hidden="true"></i>
 </div>
*/
