


$minwidth: 50%;

@mixin backgroundImage($path) {
    background: url($path) no-repeat center;
    background-size: cover;
}


@mixin overview-item($content-position) {
    padding:0 20px;
   // color: #1d1d1d;
    flex: 1 0 $minwidth;
    text-align: $content-position;
    height: 33.3%;  
    display: flex;
    direction: column;
    align-content: center;
    align-items: center;
    order: 1;
   // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  //  border: 1px solid black;
}


.overview-container
{
    display: flex;
    flex-flow: row wrap;
    height:100%;
    align-content: center;
    align-items: center;
    width:100%;
    margin: auto 0;
    background-color: #1d1d1d;
    color: white;
}

.overview-container green {
    color: rgb(57, 168, 57)
}


.overview-container blue {
    color: rgb(36, 77, 190)
}



.overview-container red {
    color: rgb(190, 36, 62)
}

.overview-container p {
    font-size: 12px;
   // text-transform: uppercase;
    line-height: 1.4;
   // letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.overview-container h3 {
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 3px;
    font-weight: 1000;
    font-family: 'Meera Inimai', sans-serif;
}


.overview-item-left {
    @include overview-item(left);
}


.overview-item-right {
    @include overview-item(right);
    align-self: center;   
    justify-content: flex-end;
}


.overview-container ul {
    list-style-position: inside;
    padding-left:0;
    font-size: 110%;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
}




.overview-item-dashboard:nth-of-type(2){
    order: 1;
     @include backgroundImage('../../img/common/work1.png');
}

.overview-item-dashboard:nth-of-type(3){
    order: 1;
     @include backgroundImage('../../img/common/team.jpg');     
}

.overview-item-dashboard:nth-of-type(6){
    order: 1;
     @include backgroundImage('../../img/common/pair-programming.jpg');     
}

@media only  screen and (max-width: 700px) {
    .overview-item-left {
            height: 25%; 
            flex: 1 0 700px;
    }

    .overview-item-right {
         height: 25%; 
         text-align: left;
         flex: 1 0  700px;
         justify-content: flex-start;
     }

     .overview-container {
         height:   100%;
     }


     .overview-item-dashboard:nth-of-type(2){
        order: 6;
         @include backgroundImage('../../img/common/work1.png');
    }
    
    .overview-item-dashboard:nth-of-type(3){
        order: 5;
         @include backgroundImage('../../img/common/team.jpg');     
    }
    
    .overview-item-dashboard:nth-of-type(6){
        order: 0;
         @include backgroundImage('../../img/common/pair-programming.jpg');     
    }
    
}



