.overview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto 0;
  background-color: #1d1d1d;
  color: white;
}

.overview-container green {
  color: #39a839;
}

.overview-container blue {
  color: #244dbe;
}

.overview-container red {
  color: #be243e;
}

.overview-container p {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.overview-container h3 {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 1000;
  font-family: 'Meera Inimai', sans-serif;
}

.overview-item-left {
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: left;
  height: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.overview-item-right {
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: right;
  height: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overview-container ul {
  list-style-position: inside;
  padding-left: 0;
  font-size: 110%;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
}

.overview-item-dashboard:nth-of-type(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../../img/common/work1.png") no-repeat center;
  background-size: cover;
}

.overview-item-dashboard:nth-of-type(3) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../../img/common/team.jpg") no-repeat center;
  background-size: cover;
}

.overview-item-dashboard:nth-of-type(6) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../../img/common/pair-programming.jpg") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  .overview-item-left {
    height: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 700px;
            flex: 1 0 700px;
  }
  .overview-item-right {
    height: 25%;
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1 0  700px;
            flex: 1 0  700px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .overview-container {
    height: 100%;
  }
  .overview-item-dashboard:nth-of-type(2) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    background: url("../../img/common/work1.png") no-repeat center;
    background-size: cover;
  }
  .overview-item-dashboard:nth-of-type(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    background: url("../../img/common/team.jpg") no-repeat center;
    background-size: cover;
  }
  .overview-item-dashboard:nth-of-type(6) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background: url("../../img/common/pair-programming.jpg") no-repeat center;
    background-size: cover;
  }
}
/*# sourceMappingURL=overview.css.map */